* {
    font-family: "Fjalla One", sans-serif;
    color: gray;
}
body{
    background: white;
}

/* Estilos para la clase "arsant" */
.arsant {
    color: black;
    margin-left: 3%;
    margin-top: 5%;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .arsant {
        margin-left: 2%; /* Cambia el margen izquierdo para dispositivos móviles */
        margin-top: 7%; /* Cambia el margen superior para dispositivos móviles */
    }
}





header {
    font-family: "Fjalla One", sans-serif;
    background: url("fondo.png");
    padding: 3%;
    background-size: cover;
    background-position: -10%;
}
.redes {
    margin-left: 30vh;
    margin-top: -8vh;
    display: flex;
}

.redes a {
    text-decoration: none;
    margin-left: 10vh;
    color: rgb(48, 48, 48);
    font-size: 4vh;
    transition: transform 0.5s ease; 
}

.fa-youtube:hover {
    transform: scale(1.2); 
    color: rgb(255, 13, 13);
}
.fa-instagram:hover{
    transform: scale(1.2); 
    color: rgb(203, 0, 196);
}
.fa-spotify:hover{
    transform: scale(1.2); 
    color: rgb(40, 183, 40);
}

ul li {
    
    display: inline-block;
    margin-right: 1vh;
    margin-left: 1vh;
    padding-right: 0;
    padding-bottom: 0; /* No se puede usar valores negativos en padding */
}

.nav {
    border-radius: 10px; /* Modificar según el radio deseado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); /* Añadir sombra */
    font-size: 1vw; /* Tamaño de fuente relativo */
    background: linear-gradient(to right, rgb(255, 254, 254, .3), rgb(203, 203, 203, .5),rgba(64, 64, 64, 1));
    padding-left: 55%; /* Utilizando un valor relativo */
    text-align: right;
    position: fixed;
    top: 1%;
    right: 0.5%; /* Utilizando un valor relativo */
    left: 1%;
    margin: 1px;
    z-index: 9999; 
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .nav  {
        font-size: 2.5vw; /* Ajustar el tamaño de fuente para pantallas más pequeñas */
        padding-left: 1%; /* Ajustar el espaciado lateral */
        right: 1.5%; /* Ajustar el espaciado desde el borde derecho */
        left: 0%;
        text-align: left; 
    } 
    .redes {
        margin-left: 5px; /* Establecer un margen izquierdo mínimo */
        margin-top: -5px; /* Establecer un margen superior mínimo */
    }
    
    .redes a {
        margin-left: 5px; /* Establecer un margen izquierdo mínimo entre los elementos */
        margin-right: 5px; /* Establecer un margen derecho mínimo entre los elementos */
    }
    
   
        
   
}
   
.a, .b, .c, .d, .e {
    color: rgb(0, 0, 0); 
    transition: color 1s ease; 
}

.a:hover, 
.b:hover, 
.c:hover, 
.d:hover, 
.e:hover {
    color: rgb(255, 255, 255); /* Cambia el color a rojo cuando se pasa el cursor */
}




.u {
    margin: 10px auto; /* Centrar horizontalmente */
    padding-left: 0px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente los elementos flexibles */
    bottom: 10%;
}

.bordes {
    border: solid gray;
    border-radius: 10px; /* Modificar según el radio deseado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); /* Añadir sombra */
}

.u li {
    margin-bottom: 10px;
    width: 300px;
    height: 550px;
    overflow: hidden;
}

.u li figure {
    padding: 1px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.u li figure:hover {
    transform: scale(1.1);
}

.u li figure:hover figcaption {
    display: block;
}

.u li figcaption {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 15px;
    font-family: "Fjalla One", sans-serif;
    font-size: 100%;
    color: white;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}
.sectionlive{
    margin-left: 8%;
}
.descripcion{
    text-align: center;
}
.bio {
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgba(41, 41, 41, 0.75), rgba(0, 0, 0, 0.2)), url("IMG-20230412-WA0000 (1).jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 15px; /* Agrega un margen entre el background y el borde */
    position: relative;
    border: solid gray;
    border-radius: 5px;
    background-origin: content-box; /* Define el origen del background como el contenido del padding */
    padding-bottom: 35%;

    /* Añadir border-radius y sombra */
    border-radius: 10px; /* Modificar según el radio deseado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); /* Añadir sombra */
}


.biotext {
    color: rgb(100, 100, 100);
    text-align: right;
    position: absolute; /* Posiciona el texto de forma absoluta */
    top: 10%; /* Alinea el texto en la parte superior */
    right: 46%; /* Lo alinea en el 50% del lado derecho de la pantalla */
    left: 10%;
    transform: translateX(100%); /* Ajusta la posición horizontal para centrarlo */
    text-align: justify;
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .bio {
        height: 270px;
        background-size: cover;
        padding-bottom: 160%; /* Ajustar el tamaño del padding para dispositivos móviles */
        position: relative; /* Añadir posición relativa para que .biotext utilice coordenadas relativas a .bio */
        margin-bottom: 10%;
    }
    .biotext {
        position: absolute; /* Posicionar de manera absoluta dentro de .bio */
        top: -5%; /* Centrar verticalmente */
        left: 60%; /* Centrar horizontalmente */
        right: -61%;
        transform: translate(-60%, 65%); /* Centrar completamente */
        padding: 0 20px; /* Añadir padding horizontal */
        text-align: justify; /* Justificar el texto */
    }
}


/* Estilos generales para los elementos disco y fig */
/* Estilos generales para los elementos disco y fig */
/* Estilos generales para los elementos disco y fig */
.disco,
.fig {
    margin-left: 0px;
    padding: 1px;
}

/* Estilos específicos para el elemento disco */
.disco {
    margin-left: 13%;
    padding-left: 120px;
    margin-top: 1px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


/* Estilos específicos para el elemento de tamaño de disco */
/* Estilos específicos para el elemento de tamaño de disco */
/* Estilos específicos para el elemento de tamaño de disco */
.disco .discotamaño {
    margin-left: -40px;
    margin-bottom: -20px; /* Reducir aún más el margen entre las imágenes */
    width: 300px;
    height: 300px;
    overflow: hidden; 
}



/* Estilos específicos para la figura dentro del disco */
.disco .discotamaño .fig {
    padding: 1px;
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s; 
}

/* Estilos para escalar la figura al hacer hover */
/* Estilos para escalar la figura al hacer hover */
.disco .discotamaño .fig:hover {
    transform: scale(1.1); 
    z-index: 1; /* Ajustar el índice z para superponer la imagen */
}


/* Estilos para mostrar la descripción de la figura al hacer hover */
.disco .discotamaño .fig:hover .figcap {
    display: block;
}

/* Estilos para la descripción de la figura */
.disco .discotamaño .figcap {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, .7);
    padding: 15px;
    font-family: "Fjalla One", sans-serif;
    font-size: 100%;
    color: white;
    text-align: center;
}

/* Estilos para las imágenes */
.imagen {
    width: 100%;
    height: 100%;
}

/* Media query para hacer el diseño más responsivo */
@media screen and (max-width: 768px) {
    .disco {
        margin-left: 8%;
        max-width:100%; /* Reducir el ancho máximo para pantallas pequeñas */
    }
    .discotitulo {
        margin: 5%; /* Ajustar el margen para el título en pantallas pequeñas */

    }
    .disco .discotamaño {
        margin-left: -100px;
        margin-bottom: -180px; /* Reducir aún más el margen entre las imágenes */
        width: 600px;
        height: 600px;
    } 
}
form {
    border: solid gray;
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    font-family: "Fjalla One", sans-serif;
    background-color:rgba(255, 255, 255, 0.8);
    padding: 30px; 
    border-radius: 8px;
    width: 350px;
    height: 480px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #a9a9a9;
  }
.formulario{
    margin-left: -6%;
    margin-top: 5%;
    font-family: "Fjalla One", sans-serif;
    color: white;
    background-color:rgb(255, 255, 255);
    padding: 1%;
    padding-right: 80%;
    border-radius: 10px; /* Modificar según el radio deseado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); /* Añadir sombra */
    width: 300px;

}
.descripcioncontacto{
    margin-left: 100%;
    margin-top: 100%;
}

/* Estilos generales */
container {
    display: flex;
    flex-wrap: wrap;
    margin: 5%; 
    padding: 1%; 
}


@media screen and (max-width: 768px) {
    .container {
        margin: 0%; 
        padding: 0%; 
    }
}
.containerform {
    margin-top: 3%;
    background: url("fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid gray;
    border-radius: 10px; /* Modificar según el radio deseado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); /* Añadir sombra */
    display: flex;
}

.container form {
    width: 30%;
    padding: 20px;
    border: solid gray;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #6f6f6f;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #000000;
}

/* Estilos para el lado derecho (Lorem Ipsum) */
.lorem {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: -2%;
    margin-left: 13%;
    background-color: ;
}

.lorem p {
    background-color:transparent;
    color: #686868;
    font-size: 13px;
    text-align: center;
}
footer{
    font-size: 90%;
    background: black;
    text-align: center;
    padding: 5%;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

}
.titulossecciones{
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 120%;
    margin-left: 12%;
    background: linear-gradient(to right, rgb(255, 254, 254, .3), rgb(203, 203, 203, .5),rgba(64, 64, 64, 1));
    margin: 0;
    padding: 1%;
    border: solid gray;
    border-radius: 10px;

}
.cont{
    margin-top: 100px;
}
.imagenlive{
    width: 200px;
    height: 350px;
}
